* {
    margin: 0;
    padding 0;
    box-sizing: border-box;;
}


/* header and nav */
header {
    width: 100%;
    height: 64px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    align-items: center;
    height: 32px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 24px;
}

.logo .colmar {
    color: black;
}

.logo .academy {
    color: gray;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 24px;
    height: 32px;
    width: auto;
}

.nava {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;;
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* main-banner */
.banner {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.bannerpic {
    width: 60%;
}

.bannerpic img {
    padding: 32px 24px;
    width: 100%;
}

.bannertitle h1 {
    font-size: 3rem;
    color: black;
    opacity: .7;
    /* text-align: center; */
}

.bannertitle p {
    font-weight: 700;
    font-size: 2rem;
    margin: 24px 0 36px;
    opacity: .7;
    /* text-align: center; */
}

.bannerbtn {
    width: fit-content;
    margin: 0 auto;
}

.bannerbtn a{
    background-color: darkslategray;
    color: white;
    padding: 8px 20px;
}


/* article */
.article {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    background-color: white;
    width: 100%;
    display: grid;
    /*
    grid-template-columns: 6fr 4fr;
    grid-template-rows: repeat(3, 1fr);
    */
    grid-template-areas: 
    "focuspic articlea"
    "focuspic articleb"
    "focuscaption articlec"
}

/* left */
.focus {
   padding: 32px 24px 0;
}

.focuspic img {
    width: 100%;
}

.focuscaption h2 {
    font-size: 2.5rem;
    font-weight: 700;
    opacity: .7;
    color: black;
    margin-top: 24px;
}

.focuscaption p {
    font-size: 1rem;
    font-weight: 400;
    opacity: .8;
    color: black;
    margin-top: 24px;
}

.arthur {
    font-style: italic;
    float:inline-end;
}

/* right */
.articles {
    padding: 16px 0 0;
}

.articlea, .articleb, .articlec {
    display: flex;
}

.thumbnail {
    width: 100%;
    height: auto;
    padding: 16px;
}

.articlefigure{
    width: 35%;
    height: auto;
}

.articlecaption {
    width: 65%;
    height: auto;
    opacity: .7;
    margin: auto;
}

.articlecaption h3 {
    font-size: 2rem;
    font-weight: 700;
}

.articlecaption p {
    margin: 8px 0;
}

.readmore {
    color: cornflowerblue;
}

a {
    text-decoration: none;
}

.articlea:hover, .articleb:hover, .articlec:hover {
    background-color: rgb(193, 193, 193);
}
